@charset "UTF-8";
/* Variabler */
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/Open_Sans/OpenSans-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular", serif;
}

html {
  overflow-x: hidden;
}

main {
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100%;
  background-color: white;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100000;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.initiallyHidden {
  display: none;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

@media screen and (max-width: 750px) {
  .desktop-nav {
    display: none;
    background-color: #EEF5FF;
    padding: 10px;
  }
  .desktop-nav .logo-desktop {
    display: none;
  }
  .desktop-nav li {
    list-style: none;
  }
  .desktop-nav a {
    color: #0E3E86;
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
  }
  .desktop-nav a:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .mobile-nav {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    background-color: #EEF5FF;
    width: 100%;
  }
  .mobile-nav img:first-of-type {
    justify-self: left;
    padding: 30px 5px 0 15px;
    width: 70px;
    text-decoration: none;
    cursor: pointer;
  }
  .mobile-nav img:first-of-type:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .mobile-nav #logo {
    justify-self: center;
    padding: 5px;
    width: 80px;
  }
}
/*frontpage styling*/
.image-wrapper {
  max-width: 100%;
  max-height: 700px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.home-welcome-text {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
}

.choose-subject {
  text-decoration: none;
  cursor: pointer;
}
.choose-subject:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}
.choose-subject select {
  color: #2e2e2e;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 5px;
  border: 2px solid #C59E54;
  background-color: white;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headings-banner {
  background-color: #0E3E86;
  height: 50px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 40px 0 40px 0;
}
.headings-banner p {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin: 0 auto;
  color: white;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
}

.articles {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
  height: fit-content;
}
.articles a {
  text-decoration: none;
  cursor: pointer;
  color: #C59E54;
}
.articles a:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}
.articles .articles-grid {
  display: grid;
  grid-template-rows: 0.5fr;
  padding: 20px 15px 10px 20px;
  gap: 50px;
  max-height: 1000px;
}
.articles .articles-grid .datasikkerhedText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #EEF5FF;
  border-radius: 20px;
  margin: 0 auto;
  padding: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.articles .articles-grid .articles-image {
  max-width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}
.articles .articles-grid .articles-image:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

.guideText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  padding: 10px;
}
.guideText a {
  color: #0E3E86;
}

.guideSection {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 40px 0 30px 0;
  width: 95%;
}

.guideGrid {
  width: 100%;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: #0f326a;
  border-radius: 20px;
  padding: 20px;
  color: #efefef;
}

#fiveStepGuide {
  grid-template-columns: 50px auto 1fr;
  grid-template-rows: repeat(7, auto);
}
#fiveStepGuide img {
  width: 50px;
}

.fiveStepGuideGoldText {
  font-size: 2.21rem;
  color: #806634;
}

.fiveStepGuideNumberText {
  padding: 15px;
}

.fiveStepGuideMainText {
  padding-top: 20px;
}

.guideTitle {
  grid-column: 1/4;
  font-size: 1.7rem;
}

#guideTitle1 {
  grid-row: 1;
}
#guideTitle1 img {
  width: 2.04rem;
}

#guideTitle2 {
  grid-row: 2;
}

#gameGuide {
  grid-template-columns: 0.4fr 1em 1fr;
  grid-template-rows: repeat(7, auto);
}

@media screen and (min-width: 751px) and (max-width: 1450px) {
  .guideSection {
    max-width: 725px;
  }
  .guideGrid {
    padding: 40px;
  }
}
@media screen and (min-width: 1451px) {
  .guideSection {
    width: 50%;
  }
  .guideGrid {
    padding: 40px;
    font-size: 1.5rem;
  }
  .guideTitle {
    font-size: 2.5rem;
  }
  #guideTitle1 img {
    width: 2.55rem;
  }
}
@media screen and (min-width: 751px) and (max-width: 1450px) {
  .mobile-nav {
    display: none;
  }
  .desktop-nav {
    display: block;
    background-color: #EEF5FF;
  }
  .desktop-nav ul {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding: 0 20px 0 20px;
  }
  .desktop-nav .nav {
    display: flex;
    padding-top: 40px;
  }
  .desktop-nav img {
    padding: 5px 0 5px 0;
    width: 100px;
  }
  .desktop-nav a {
    font-size: 1.5rem;
    color: #0E3E86;
    text-decoration: none;
    cursor: pointer;
  }
  .desktop-nav a:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .accordion {
    max-width: 50%;
  }
  .panel {
    max-width: 50%;
  }
  .articles .articles-grid .articles-image {
    max-width: 50%;
  }
  .datasikkerhedText {
    max-width: 50%;
    padding: 40px;
  }
}
#gameRuleText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 70%;
}

#spillet {
  background-color: #0E3E86;
}
#spillet p {
  color: white;
}

#captainHeading {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  color: #0E3E86;
  margin-bottom: 20px;
}

.gameText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  color: #0E3E86;
  padding: 15px;
}
.gameText a {
  color: #0E3E86;
}

.space {
  padding-bottom: 70px;
}

.goToGameButton {
  font-size: 20pt;
  font-weight: normal;
  color: #C59E54;
  width: fit-content;
  height: 60px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
  background-color: #552E10;
  background-size: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #C59E54;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}
.goToGameButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  color: #0E3E86;
}

/* FAQ styling*/
.accordion {
  background-color: #EEF5FF;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: 1px solid #0E3E86;
  border-radius: 20px;
  gap: 5px;
  outline: none;
  text-align: center;
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  transition: 0.5s;
  display: flex;
  justify-self: center;
  margin: 0 auto;
}

.active, .accordion:hover {
  background-color: #C59E54;
}

.accordion:after {
  content: "➕";
  margin-left: 5px;
}

.active:after {
  content: "➖";
}

.panel {
  width: 90%;
  padding: 5px;
  text-align: left;
  justify-self: center;
  margin: 0 auto;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
}

/* footer styling*/
.nav-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #EEF5FF;
  color: #2e2e2e;
  bottom: 0;
  margin-top: 70px;
}
.nav-footer p {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
}
.nav-footer img {
  height: auto;
  display: flex;
  margin: 0 auto;
  padding: 5px;
}

/*desktop version*/
@media screen and (min-width: 1451px) {
  .mobile-nav {
    display: none;
  }
  main {
    max-width: 1700px;
    margin: 0 auto;
    background-color: white;
  }
  header, footer {
    width: 100%;
  }
  .desktop-nav {
    display: block;
    background-color: #EEF5FF;
  }
  .desktop-nav ul {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding: 0 20px 0 20px;
  }
  .desktop-nav img {
    padding: 5px 0 5px 0;
    width: 100px;
  }
  .desktop-nav .nav {
    display: flex;
    padding-top: 40px;
  }
  .desktop-nav a {
    font-size: 1.5rem;
    color: #0E3E86;
    text-decoration: none;
    cursor: pointer;
  }
  .desktop-nav a:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .home-welcome-text {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 1451px) and (min-width: 1451px) {
  .guideText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
  }
  .guideText a {
    color: #0E3E86;
  }
  #gameRuleText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
  }
  .articles {
    padding: 10px;
    margin: 0 auto;
  }
  .articles .articles-grid {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    max-height: 800px;
  }
  .articles .articles-grid .articles-image {
    min-width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }
  .articles .articles-grid .datasikkerhedText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
  }
}
@media screen and (min-width: 1451px) and (min-width: 1451px) and (min-width: 1451px) {
  #captainHeading {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: #0E3E86;
    margin-bottom: 20px;
  }
  .gameText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: #0E3E86;
    width: 80%;
    padding: 10px;
  }
  .space {
    padding-bottom: 70px;
  }
  .goToGameButton {
    font-size: 20pt;
    font-weight: normal;
    color: #C59E54;
    width: fit-content;
    height: 60px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding: 5px 10px 0 10px;
    background-color: #552E10;
    background-size: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #C59E54;
    text-decoration: none;
    text-decoration: none;
    cursor: pointer;
  }
  .goToGameButton:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  h2 {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
  }
  .accordion {
    background-color: #EEF5FF;
    padding: 18px;
    width: 40%;
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
  }
  .panel {
    width: 40%;
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
  }
  .nav-footer img {
    height: auto;
  }
}
/*............................Game Page styling............................... */
/*..........General...........*/
#gamePageMain {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: none;
}

@media screen and (max-width: 750px) {
  #scoreLogo {
    width: 50px;
    height: 50px;
    margin-left: 20px;
  }
  #scoreNumber {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
  }
  .audioButtonImg {
    height: 50px;
    display: flex;
  }
  #audioButton {
    background-color: transparent;
    display: flex;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 15px 15px 20px 25px;
    position: absolute;
    z-index: 1000;
    top: 100px;
    right: 0;
  }
  #audioButton:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
}
@media screen and (min-width: 751px) {
  #scoreLogo {
    width: 100px;
    height: 100px;
  }
  #scoreNumber {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
  }
  .audioButtonImg {
    height: 85px;
    display: flex;
  }
  #audioButton {
    background-color: transparent;
    display: flex;
    border-radius: 100px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    margin: 15px 15px 20px 25px;
    position: absolute;
    z-index: 1000;
    top: 100px;
    right: 0;
  }
  #audioButton:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
}
#score {
  position: absolute;
  top: 0;
  padding: 120px 20px 20px 10px;
  z-index: 1000;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  justify-items: start;
  align-content: center;
  align-items: center;
  gap: 5px;
}
@media screen and (min-width: 751px) {
  #score {
    padding: 160px 20px 20px 10px;
  }
}

.gamePage {
  position: absolute;
  top: 0;
  padding: 120px 20px 20px 10px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  margin: 0 auto;
  background: linear-gradient(to bottom, #663915, #9C5E20, #B37930, #552E10);
  overflow: hidden;
}
@media screen and (min-width: 751px) {
  .gamePage {
    padding: 160px 20px 20px 10px;
  }
}

.gamePageOverlay {
  position: absolute;
  top: 0;
  padding: 120px 20px 20px 10px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  max-height: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 751px) {
  .gamePageOverlay {
    padding: 160px 20px 20px 10px;
  }
}

.verticalCenter {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

@media screen and (min-width: 751px) {
  #audioButton {
    top: 150px;
  }
}
/*......................startGamePage.......*/
#startPage {
  /*........................Media query for desktop..............*/
}
@media screen and (min-width: 751px) {
  #startPage .gamePageBackground {
    background-image: url("../image/tresureMap.png");
    background-size: cover;
    max-width: 70%;
    max-height: 100%;
  }
}
#startPage .startGameButton {
  font-size: 20pt;
  font-weight: normal;
  color: #C59E54;
  width: fit-content;
  height: 60px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
  background-color: #552E10;
  background-size: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #C59E54;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}
#startPage .startGameButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

.gamePageBackground {
  background-image: url("../image/tresureMap.png");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
}

/*........................questionGamePage.......*/
#questionPage {
  display: none;
}
#questionPage .gameButtons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin: 50px 0 0 0;
}
#questionPage .gameButton {
  font-size: 20pt;
  font-weight: normal;
  color: #C59E54;
  width: fit-content;
  height: 60px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
  background-color: #552E10;
  background-size: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #C59E54;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 10px 0 10px;
}
#questionPage .gameButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

/*........................Media query for mobile..............*/
@media screen and (max-width: 750px) {
  #questionPage #gameQuestion {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    font-weight: bolder;
    width: 100%;
    padding: 50px 10px 10px 10px;
    margin: 0 auto;
    text-align: center;
  }
  #questionPage .questionP {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    padding: 10px;
    width: 100%;
    text-align: center;
  }
  #questionPage .gamePage {
    background: linear-gradient(to bottom, #663915, #9C5E20, #B37930, #552E10);
  }
}
/*........................Media query for desktop..............*/
@media screen and (min-width: 751px) {
  #gameQuestion {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 100%;
    font-weight: bolder;
    padding: 10px;
    text-align: center;
  }
  .questionP {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 70%;
    padding: 10px;
    text-align: center;
  }
}
/*............................caughtGamePage.......*/
#caughtPage {
  display: none;
}
#caughtPage .gameButton {
  font-size: 20pt;
  font-weight: normal;
  color: #C59E54;
  width: fit-content;
  height: 60px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px 10px 0 10px;
  background-color: #552E10;
  background-size: auto;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #C59E54;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}
#caughtPage .gameButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}
@media screen and (max-width: 750px) {
  #caughtPage .gameImageStyling {
    width: 50%;
    display: flex;
    margin: 0 auto;
    padding: 50px 10px 5px 10px;
  }
  #caughtPage .questionP {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
  }
  #caughtPage .explanationCaughtPage {
    text-align: left;
  }
}
@media screen and (min-width: 751px) {
  #caughtPage .gameImageStyling {
    width: 30%;
  }
  #caughtPage .explanationCaughtPage {
    text-align: left;
    width: 60%;
  }
  #caughtPage .questionP {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
  }
}

/*............................shieldGamePage.......*/
#shieldPage {
  display: none;
}
@media screen and (max-width: 750px) {
  #shieldPage .gameImageStyling {
    width: 50%;
    padding: 10px;
  }
  #shieldPage .questionP {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 751px) {
  #shieldPage .questionP {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 100%;
  }
  #shieldPage .gameImageStyling {
    width: 70%;
    padding: 10px;
  }
}

/*...........................shieldGoldGamePage.......*/
#shieldGoldPage {
  display: none;
  /*....Media query for mobile.....*/
  /*.....Media query for desktop......*/
}
#shieldGoldPage a {
  color: black;
  font-weight: bolder;
}
@media screen and (max-width: 750px) {
  #shieldGoldPage .questionP {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 80%;
    padding: 0 30px 30px 60px;
  }
  #shieldGoldPage .gameImageStyling {
    width: 40%;
    display: flex;
    margin: 0 auto;
    padding: 10px;
  }
  #shieldGoldPage .downloadeButton {
    display: flex;
    margin: 0 auto;
  }
  #shieldGoldPage .downloadeButton img {
    height: 70px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
  }
  #shieldGoldPage .downloadeButton img:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
}
@media screen and (min-width: 751px) {
  #shieldGoldPage .questionP {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    padding: 10px;
    text-align: center;
  }
  #shieldGoldPage .gameImageStyling {
    width: 30%;
    display: flex;
    margin: 0 auto;
    padding: 20px;
  }
  #shieldGoldPage .downloadeButton {
    display: flex;
    margin: 0 auto;
  }
  #shieldGoldPage .downloadeButton img {
    height: 90px;
    display: flex;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 40px;
  }
  #shieldGoldPage .downloadeButton img:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
}

/*..........................game over page styling..............*/
#gameOverPage {
  display: none;
  /*....Media query for mobile.....*/
}
@media screen and (max-width: 750px) {
  #gameOverPage .gameImageStyling {
    width: 50%;
  }
  #gameOverPage .questionP {
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 100%;
    padding: 20px 10px 30px 10px;
    text-align: center;
  }
  #gameOverPage .gameButton {
    font-size: 20pt;
    font-weight: normal;
    color: #C59E54;
    width: fit-content;
    height: 60px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding: 5px 10px 0 10px;
    background-color: #552E10;
    background-size: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #C59E54;
    text-decoration: none;
    text-decoration: none;
    cursor: pointer;
  }
  #gameOverPage .gameButton:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
}

/*...............Media query for desktop......*/
#gameOverPage {
  display: none;
}
@media screen and (min-width: 751px) {
  #gameOverPage .gameImageStyling {
    width: 80%;
  }
  #gameOverPage .questionP {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: black;
    width: 90%;
    padding: 10px 0 30px 0;
    text-align: center;
  }
  #gameOverPage .gameButton {
    font-size: 20pt;
    font-weight: normal;
    color: #C59E54;
    width: fit-content;
    height: 60px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding: 5px 10px 0 10px;
    background-color: #552E10;
    background-size: auto;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #C59E54;
    text-decoration: none;
    text-decoration: none;
    cursor: pointer;
  }
  #gameOverPage .gameButton:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
}

/*# sourceMappingURL=style.css.map */
