@charset "UTF-8";
/* Variabler*/
@font-face {
  font-family: "OpenSans-Regular";
  src: url("../font/Open_Sans/OpenSans-Regular.ttf");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "OpenSans-Regular", serif;
}

html {
  overflow-x: hidden;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  background-color: white;
  width: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 100000;
}

main {
  overflow-x: hidden;
}

.fullSize {
  width: 100%;
  height: 100%;
}

.initiallyHidden {
  display: none;
}

@media screen and (min-width: 0px) and (max-width: 950px) {
  .desktop-nav {
    display: none;
    background-color: #EEF5FF;
    padding: 10px;
  }
  .desktop-nav .logo-desktop {
    display: none;
  }
  .desktop-nav li {
    list-style: none;
  }
  .desktop-nav a {
    color: #0E3E86;
    color: #0E3E86;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
  }
  .desktop-nav a:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .mobile-nav {
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    background-color: #EEF5FF;
    width: 100%;
  }
  .mobile-nav img:first-of-type {
    justify-self: left;
    padding: 30px 5px 0 15px;
    width: 70px;
  }
  .mobile-nav #logo {
    justify-self: center;
    padding: 5px;
    width: 80px;
  }
}
/*frontpage styling*/
.image-wrapper {
  max-width: 100%;
  max-height: 700px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.image-wrapper img {
  width: 100%;
  height: auto;
  display: block;
}

.home-welcome-text {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  padding-bottom: 50px;
  width: 80%;
}

.choose-subject {
  text-decoration: none;
  cursor: pointer;
}
.choose-subject:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}
.choose-subject select {
  color: #2e2e2e;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 5px;
  border: 2px solid #C59E54;
  background-color: white;
  margin: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.headings-banner {
  background-color: #0E3E86;
  height: 50px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 40px 0 40px 0;
}
.headings-banner p {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5px;
  margin: 0 auto;
  color: white;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
}

.articles {
  display: grid;
  grid-template-rows: 1fr;
  gap: 10px;
}
.articles a {
  text-decoration: none;
  cursor: pointer;
  color: #C59E54;
}
.articles a:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}
.articles .articles-grid {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr;
  margin: 0 auto;
  width: 100%;
  padding: 20px 15px 20px 20px;
  gap: 20px;
  max-height: 1000px;
}
.articles .articles-grid .datasikkerhedText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  background-color: #EEF5FF;
  border-radius: 20px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
}
.articles .articles-grid .articles-image {
  max-width: 50%;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  text-decoration: none;
  cursor: pointer;
}
.articles .articles-grid .articles-image:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

.guide-section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
  padding: 40px 0 30px 0;
}
.guide-section img {
  width: 80%;
  text-decoration: none;
  cursor: pointer;
}
.guide-section img:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

#gameRuleText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  width: 70%;
}

.set {
  margin: 0 auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

#captainHeading {
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  color: #806634;
  margin-bottom: 20px;
}

.gameText {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  color: #806634;
  padding: 15px;
}

.space {
  padding-bottom: 70px;
}

#audioButton {
  display: flex;
  justify-self: right;
  border-radius: 40px;
  background-image: url("../image/woodBackground.png");
  text-decoration: none;
  cursor: pointer;
  border: 0;
  height: 70px;
  width: 70px;
  margin: 15px;
}
#audioButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

#audioButtonImg {
  height: 60px;
  display: flex;
  padding: 10px;
}

#game {
  display: grid;
  grid-template-rows: 0.1fr 1fr 0.1fr;
  margin: 0 auto;
  padding-top: 50px;
}
#game .buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.questions {
  display: grid;
  grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr;
  width: 90%;
  border-radius: 20px;
}
.questions p {
  padding: 10px;
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  color: white;
  text-align: center;
}
.questions img {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  width: 60%;
}

.goToGameButton {
  font-size: 20pt;
  font-weight: normal;
  color: #C59E54;
  width: 200px;
  height: 60px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px 0 0 25px;
  background-image: url("../image/woodBackground.png");
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #C59E54;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}
.goToGameButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  color: #0E3E86;
}

.accordion {
  background-color: #EEF5FF;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 90%;
  border: 1px solid #0E3E86;
  border-radius: 20px;
  gap: 5px;
  outline: none;
  text-align: center;
  color: #0E3E86;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 auto;
  transition: 0.5s;
  display: flex;
  justify-self: center;
  margin: 0 auto;
}

.active, .accordion:hover {
  background-color: #C59E54;
}

.accordion:after {
  content: "➕";
  color: #0E3E86;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 auto;
  color: #0E3E86;
  margin-left: 5px;
}

.active:after {
  content: "➖";
}

.panel {
  width: 90%;
  padding: 5px;
  text-align: left;
  justify-self: center;
  margin: 0 auto;
  max-height: 0;
  transition: max-height 0.2s ease-in-out;
  overflow: hidden;
  color: #0E3E86;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0 auto;
}

/* footer styling*/
.nav-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #EEF5FF;
  color: #2e2e2e;
  bottom: 0;
  margin-top: 100px;
}
.nav-footer p {
  color: #0E3E86;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0 auto;
  display: flex;
  align-content: center;
  justify-content: center;
  padding: 5px;
}
.nav-footer img {
  height: auto;
  display: flex;
  margin: 0 auto;
  padding: 5px;
}

/*desktop version*/
@media screen and (min-width: 951px) {
  .mobile-nav {
    display: none;
  }
  main {
    max-width: 1700px;
    margin: 0 auto;
    background-color: white;
  }
  header, footer, .headings-banner {
    width: 100%;
  }
  .desktop-nav {
    display: block;
    background-color: #EEF5FF;
  }
  .desktop-nav ul {
    display: grid;
    grid-template-columns: 1fr auto auto auto auto;
    gap: 15px;
    width: 100%;
    list-style: none;
    padding: 0 20px 0 20px;
  }
  .desktop-nav img {
    padding: 5px 0 5px 0;
    width: 100px;
  }
  .desktop-nav .nav {
    display: flex;
    padding-top: 40px;
  }
  .desktop-nav a {
    font-size: 1.5rem;
    color: #0E3E86;
    text-decoration: none;
    cursor: pointer;
  }
  .desktop-nav a:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .home-welcome-text {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
  }
}
@media screen and (min-width: 951px) and (min-width: 950px) {
  .guide-section img {
    width: 40%;
  }
  #gameRuleText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 80%;
  }
  .articles {
    padding: 30px 0 50px 0;
  }
  .articles .articles-grid {
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    width: 100%;
    max-height: 750px;
  }
  .articles .articles-grid .articles-image {
    min-width: 70%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
  }
  .articles .articles-grid .articles-image:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  .articles .articles-grid .right {
    order: 2;
  }
  .articles .articles-grid .datasikkerhedText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 50px;
  }
}
@media screen and (min-width: 951px) and (min-width: 950px) and (min-width: 951px) {
  .set {
    margin: 0 auto;
  }
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  .red {
    color: red;
  }
  #captainHeading {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    color: #806634;
    margin-bottom: 20px;
  }
  .gameText {
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: #806634;
    margin: 0 auto;
    width: 80%;
    padding: 10px;
  }
  .space {
    padding-bottom: 70px;
  }
  #game {
    display: grid;
    grid-template-rows: 0.1fr 1fr 0.1fr;
    margin: 0 auto;
  }
  #game .buttons {
    display: flex;
    justify-content: center;
  }
  .questions {
    display: grid;
    grid-template-rows: 1fr 0.1fr 0.1fr 0.1fr;
    width: 90%;
    border-radius: 20px;
  }
  .questions p {
    padding: 10px;
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: white;
  }
  .questions img {
    display: flex;
    margin: 0 auto;
    padding: 10px;
    width: 50%;
  }
  .goToGameButton {
    font-size: 20pt;
    font-weight: normal;
    color: #C59E54;
    width: 200px;
    height: 60px;
    text-align: center;
    display: flex;
    margin: 0 auto;
    padding: 5px 0 0 25px;
    background-image: url("../image/woodBackground.png");
    background-size: cover;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 3px solid #C59E54;
    text-decoration: none;
    text-decoration: none;
    cursor: pointer;
  }
  .goToGameButton:hover {
    color: #C59E54;
    animation: bounce 0.5s 1 alternate;
  }
  @keyframes bounce {
    0% {
      transform: translateY(0); /* Ingen vertikal forskydning */
    }
    50% {
      transform: translateY(-5px); /* Bevæger sig 5px op */
    }
    100% {
      transform: translateY(0); /* Tilbage til startpositionen */
    }
  }
  h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    color: #0E3E86;
  }
  .accordion {
    background-color: #EEF5FF;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: 1px solid #0E3E86;
    border-radius: 20px;
    gap: 5px;
    outline: none;
    text-align: center;
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    transition: 0.5s;
    display: flex;
    justify-self: center;
    margin: 0 auto;
  }
  .active, .accordion:hover {
    background-color: #C59E54;
  }
  .accordion:after {
    content: "➕";
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
    color: #0E3E86;
    margin-left: 5px;
  }
  .active:after {
    content: "➖";
  }
  .panel {
    width: 40%;
    padding: 5px;
    text-align: left;
    justify-self: center;
    margin: 0 auto;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
    color: #0E3E86;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 0 auto;
  }
  .nav-footer img {
    height: auto;
  }
}
/*.................Game Page styling............................... */
/* General*/
#gamePageMain {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: none;
}

#audioButton {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: 1000;
}

.gamePage {
  width: 100%;
  height: 100%;
  position: absolute;
  max-height: 100%;
  top: 0;
  padding: 120px 20px 20px 20px;
  margin: 0 auto;
  background-color: black;
}

.gamePageOverlay {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  max-height: 100%;
  top: 0;
  padding: 120px 20px 20px 20px;
  margin: 0 auto;
}

.verticalCenter {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
}

@media screen and (min-width: 951px) {
  #audioButton {
    top: 130px;
  }
}
/*................StartPage styling.............*/
#startPage {
  overflow: hidden;
}

.startGameButton {
  font-size: 20pt;
  font-weight: normal;
  color: #C59E54;
  width: 200px;
  height: 60px;
  text-align: center;
  display: flex;
  margin: 0 auto;
  padding: 5px 0 0 25px;
  background-image: url("../image/woodBackground.png");
  background-size: cover;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 3px solid #C59E54;
  text-decoration: none;
  text-decoration: none;
  cursor: pointer;
}
.startGameButton:hover {
  color: #C59E54;
  animation: bounce 0.5s 1 alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0); /* Ingen vertikal forskydning */
  }
  50% {
    transform: translateY(-5px); /* Bevæger sig 5px op */
  }
  100% {
    transform: translateY(0); /* Tilbage til startpositionen */
  }
}

#startPageBackground {
  background-image: url("../image/tresureMap.png");
  background-size: cover;
  max-width: 100%;
  max-height: 100%;
  background-color: green;
}

#questionPage {
  display: none;
}

#caughtPage {
  display: none;
}

#shieldPage {
  display: none;
}

#shieldGoldPage {
  display: none;
}

#gameOverPage {
  display: none;
}

/*# sourceMappingURL=style.css.map */
